version: "3.8"

services:
  mongodb:
    image: mongo:6.0
    container_name: todo-mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: todo
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: todo-backend
    ports:
      - "8080:8080"
    depends_on:
      - mongodb
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://root:password@mongodb:27017/todo?authSource=admin

volumes:
  mongo-data:
